Options -Indexes

DirectoryIndex index.php

Order deny,allow
Deny from all
<Files "index.php">
	Allow from all
</Files>
<Files "census.php">
	Allow from all
</Files>
<Files "participation.php">
	Allow from all
</Files>
<Files "vote.php">
	Allow from all
</Files>
<Files "results.php">
	Allow from all
</Files>
<Files "editElection.php">
	Allow from all
</Files>
